*.elc
*~
el-get/*
recipes/emacswiki/*
recipes/elpa/*
dir
/.recentf
/ac-comphist.dat
/projectile-bookmarks.eld
/projectile.cache
/.saved-places
/eshell/history
/eshell/lastdir
/.mc-lists.el
/elpa
tramp

/.dir-locals.el
/.travis.yml
/el-get-autoloads.el
/el-get-build.el
/el-get-byte-compile.el
/el-get-core.el
/el-get-custom.el
/el-get-dependencies.el
/el-get-install.el
/el-get-list-packages.el
/el-get-methods.el
/el-get-notify.el
/el-get-recipes.el
/el-get-status.el
/el-get.el
/el-get.info
/el-get.texi
/logo/
/methods/
/README.md
/recipes/
/test/
